* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #f5a623;
  --color-primary-dark: #dd9520;
  --color-primary-light: #f9ca7b;
  --color-primary-lighter: #fad391;
  --color-primary-lightest: #fff6e0;

  --color-text: #1a1446;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.8rem;
  background: linear-gradient(
    to bottom,
    var(--color-primary-lighter),
    var(--color-primary-light)
  );
}

.main-content {
  max-width: 80%;
  margin: 4rem auto;
  border-radius: 10px;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary-lightest);
  height: 100%;
  padding: 4rem;
}

.h1 {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 5rem;
  color: var(--color-text);
}

/* only if span S */
/* .h1 span {
  color: var(--color-primary);
  -webkit-text-stroke: 2px var(--color-text);
  font-weight: 700;
} */

.h1 span {
  display: inline-block;
  padding: 0.5rem 3rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  border: solid 2px var(--color-text);
  border-radius: 10rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.sides {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;

  /* margin: 2rem; */
}

.left-side {
}

.sequence {
  font-size: 3rem;
  color: var(--color-text);
  font-weight: 700;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sequence-num {
  font-family: 'Space Mono', monospace;
  text-align: center;

  display: inline-block;
  padding: 0.1rem 1rem;
  background-color: var(--color-primary);
  border: solid 2px var(--color-text);
}

.right-side {
  width: 30%;
}

.input {
  display: inline-block;
  width: 100%;
  height: 3rem;
  border: solid 2px var(--color-text);
  border-radius: 1rem;
  margin-bottom: 1.5rem;

  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 0.5rem 3rem;
  cursor: pointer;

  font-family: 'League Spartan', sans-serif;
  color: var(--color-text);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border: solid 2px var(--color-text);
  border-radius: 3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);

  transition: all 0.3s;
}

.btn:hover {
  box-shadow: 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.3rem);
}

.btn:active {
  transform: translateY(0.01rem);
}

.check {
  background-color: var(--color-primary);
}

.check:active {
  background-color: var(--color-primary-dark);
}

.new-game {
  background-color: #fff;
}

.new-game:active {
  background-color: #eee;
}
