.home-page {
  min-height: 100vh;
  background-color: #daeffb;
  color: #1e1e1e;
  font-weight: 500;
  padding: 5rem 3rem;
}

.home-container {
  margin: 0 auto;
  max-width: 75rem;
}

.home-title {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.home-card:link,
.home-card:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 10rem;
  text-align: center;
  text-decoration: none;

  border-radius: 2rem;
  box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;

  transition: all 0.5s;
}

.home-card:hover,
.home-card:active {
  box-shadow: 2rem 2rem 7rem rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

/* 
//////////////////////////////
// GUESS SEQUENCE
//////////////////////////////
*/

.guess-sequence {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1a1446;
}

.guess-sequence:hover {
  background-color: #fff6e0;
}

.guess-sequence span {
  display: inline-block;
  padding: 0.5rem 3rem;
  background-color: #f5a623;
  color: #1a1446;
  border: solid 2px #1a1446;
  border-radius: 10rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

/* 
//////////////////////////////
// MEMORY CARDS
//////////////////////////////
*/

.memory-game {
  position: relative;
  overflow: hidden;
  font-family: 'Orbitron', serif;

  font-size: 2.5rem;
  font-weight: 800;

  color: #f4f7ff;

  letter-spacing: 0.04em;

  text-shadow:
    0 0 10px rgba(180, 220, 255, 0.18),
    0 0 30px rgba(120, 140, 255, 0.12);

  background:
    radial-gradient(circle at top, rgba(120, 140, 255, 0.15), transparent 40%),
    radial-gradient(
      circle at bottom right,
      rgba(255, 0, 180, 0.1),
      transparent 35%
    ),
    linear-gradient(180deg, #050816 0%, #081120 45%, #090b1d 100%);
}

.memory-game span {
  display: block;
  margin-right: -10rem;
}

.memory-game::before {
  content: '';
  width: 1px;
  height: 1px;
  border-radius: 50%;

  position: absolute;
  inset: 0;

  pointer-events: none;

  background: transparent;

  box-shadow:
    20px 20px #fff,
    95px 60px #9fd3ff,
    320px 50px #fff,
    180px 80px #ffdfff,
    340px 25px #9fd3ff,
    270px 15px #ffdfff;
}

.memory-game::after {
  content: '';

  position: absolute;

  width: 120px;
  height: 120px;

  left: -40px;
  bottom: -40px;

  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(140, 190, 255, 0.468),
    rgba(109, 90, 255, 0.484),
    transparent 70%
  );

  filter: blur(10px);

  pointer-events: none;
}

.shooting-star {
  position: absolute;
  /* top: 15%;
  right: -8rem; */
  top: 5px;
  right: -4rem;

  width: 8rem;
  height: 2px;

  opacity: 0;

  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8));
}

.shooting-star-head {
  position: absolute;
  right: 0;
  top: -2px;

  width: 6px;
  height: 6px;

  border-radius: 50%;

  background: white;

  box-shadow:
    0 0 5px white,
    0 0 12px #9fd3ff,
    0 0 24px #9fd3ff;
}

.memory-game:hover .shooting-star {
  animation: shootingStar 2s ease-out 1s forwards;
}

@keyframes shootingStar {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(135deg);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-8rem, 8rem) rotate(135deg);
  }
}

.memory-card-title {
  position: relative;
  /* overflow: hidden; */
}

.memory-card-title::after {
  content: '';

  position: absolute;
  top: -20%;
  left: -150%;

  width: 60%;
  height: 140%;

  transform: skewX(-25deg);

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.95),
    transparent
  );

  opacity: 0;
}

.memory-game:hover .memory-card-title {
  animation: titleGlow 1s ease-out;
}

@keyframes titleGlow {
  0% {
    text-shadow:
      0 0 10px rgba(180, 220, 255, 0.18),
      0 0 30px rgba(120, 140, 255, 0.12);
  }

  50% {
    text-shadow:
      0 0 12px #fff,
      0 0 25px rgba(159, 210, 255, 0.705),
      0 0 45px rgba(159, 211, 255, 0.7),
      0 0 70px rgba(138, 191, 255, 0.7);
  }

  100% {
    text-shadow:
      0 0 10px rgba(180, 220, 255, 0.18),
      0 0 30px rgba(120, 140, 255, 0.12);
  }
}

/* 
//////////////////////////////
// TO BE ANNOUNCED
//////////////////////////////
*/

.tba {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(
    135deg,
    rgba(107, 17, 203, 0.7),
    rgb(37, 117, 252, 0.7)
  );
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: auto;
}

.tba:hover,
.tba:active {
  box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.1);
  transform: scale(1);
}

@media (max-width: 50em) {
  .home-container {
    max-width: 55rem;
  }

  .home-cards {
    gap: 1.5rem;
  }

  .home-card:link,
  .home-card:visited {
    height: 8rem;
  }

  .home-title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .guess-sequence,
  .tba {
    font-size: 1.8rem;
  }
}

@media (max-width: 35em) {
  .home-page {
    padding: 4rem 3rem;
  }

  .home-title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }

  .home-cards {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
