:root {
  --font-home-page: 'Space Grotesk', sans-serif;
  --font-guess-sequence-page: 'League Spartan', sans-serif;
  --font-guess-sequence-seq: 'Space Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.font-home {
  font-family: var(--font-home-page);
}

.font-guess-sequence {
  font-family: var(--font-guess-sequence-page);
}

.font-guess-sequence-seq {
  font-family: var(--font-guess-sequence-seq);
}

@font-face {
  font-family: 'Friz Quadrata';
  src: url('./assets/fonts/friz-quadrata-regular-os-5870333951e7c.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Friz Quadrata Bold Italic';
  src: url('./assets/fonts/friz-quadrata-bold-italic-os-5870341205e0f.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Showtime';
  src: url('./assets/fonts/Showtime-R9Ke.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
